# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
.eggs

# Virtual environment
venv/
env/
ENV/

# Streamlit
.streamlit/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log
job