.gitignore

config.py
.env
.ipynb
/app
update.py
.idea

# Database connection
conn = psycopg2.connect(database="job_db", user="postgres", password="", host="localhost")
cursor = conn.cursor()
Pipfile
Pipfile.lock
